RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

#RewriteRule ^(.*)$ index.php?p=$1 [L,QSA]
#RewriteRule ^([a-z0-9-_]+)/([a-z0-9-_]+).html$ index.php?mod=article&id=$1 [L]
#RewriteRule ^([a-z0-9-_]+)/(.*)/i([0-9]{0,9})/(.*).html$ index.php?do=$1&id=$3&title=$4 [L]

#IndexIgnore *.gif *.jpg
Options -Indexes

AddHandler cgi-script .pl .py .jsp .asp .shtml .sh .cgi
#Options -ExecCGI