.hide{
    display: none;
}
tr.show{
    display: table-row;
}
p.show,div.show{
    display: block;
}

span.show,img.show,a.show{
    display: inline;
    padding: 0px 8px;
}

.error{
    display: none;
}

.cms_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000 url(../images/loader.gif) 50% 50% no-repeat;
    z-index: 10000001;
    opacity: 0.8;
    top: 0;
    left:0;
    display: none;
}

.noscript{
    background: #fff url(../images/warn.png) 10px 17px no-repeat; 
    color: red; 
    font-style: italic; 
    padding: 20px 20px 20px 30px; 
    margin: 0;
}


table td.td1{
    width: 20%;
}

.folder{ 
    margin-left: 16px;
    margin-top: 4px;
}
.fleft { float:left;}
.modulecontent table td{ padding-left:20px;}
tr.groupcontent td{ padding:5px; font-size:16px; font-weight:bold}
tr.rows_option .option_checkbox{ width:72%;}
tr.rows_option .option_checkbox li{ float:left; width:190px; padding:2px 5px 2px 0px;}
.addnew_opt{ display:block; clear:both;}
.top_callFunc_member{ clear:both; display:block; overflow:hidden}
.configuation_html table tr td{ padding-left:10px;}

/* greetings */
.greetings {
    /*border-right: #b0b0b0 solid 1px; */
    color: #000; 
    font-size: 17px; 
}

.greetings a{
    color: #000;
    text-decoration: underline;
    font-family: 'opensans_bold';
}
.greetings h2 { font-size: 18px; font-weight: normal; }
.greetings h2 strong { font-weight: bold; }

/* functions */
.functions { overflow: hidden; padding: 50px 0 20px; }
.functions li { 
    float: left; 
    /*height: 141px; margin: 0 30px 30px 0; overflow: hidden; width: 141px;*/
 }
.functions a {
    background: url(../images/icons.png) no-repeat;
/* border-bottom: #3d8ab0 solid 1px; */
/* border-right: #3d8ab0 solid 1px; */
color: #333;
display: block;
font-size: 16px;
/* font-weight: bold; */
height: 60px;
padding: 98px 0px 8px 0px;
/* text-align: center; */
/* text-shadow: 0 1px 0 rgba(255,255,255,.75); */
text-transform: uppercase;
width: 143px;
/* -webkit-border-radius: 5px; */
-moz-border-radius: 5px;
background-position-x: -20px;
margin-right: 20px;

}
.functions a:hover {
 /*background-color: #73a6d9; border-bottom-color: #3d638a; border-right-color: #3d638a; text-decoration: none;*/
  }
.functions a:active { 
    /*border: 0; border-left: #3d8ab0 solid 1px; border-top: #3d8ab0 solid 1px;*/
     }
.functions a.home { background-position: 0 -140px; }
.functions a.tools { background-position: 0 -280px; }
.functions a.about { background-position: 0 -420px; }
.functions a.members { background-position: 0 -560px; }
.functions a.admin { background-position: 0 -700px; }
.functions a.contact { background-position: 0 -840px; }
.functions a.company-group { background-position: 0 -980px; }
.functions a.listings { background-position: 0 -1120px; }
.functions a.resource { background-position: 0 -1260px; }
.functions a.google-analytics { background-position: 0 -1400px; }

/* google analytics */
.ga-wrapper { color: #333; font-size: 14px; padding: 50px 25px; }
.ga-wrapper .info { padding: 0 20px 10px; }
.ga-wrapper .widget { margin-top: 20px; }
.ga-wrapper .widget .w-header {
    background-color: #9cf; border-bottom: #3d8ab0 solid 1px; border-right: #3d8ab0 solid 1px; padding: 10px 20px; position: relative; text-shadow: 0 1px 0 rgba(255,255,255,.75);
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.ga-wrapper .widget:hover .w-header { background-color: #73a6d9; border-bottom-color: #3d638a; border-right-color: #3d638a; }
.ga-wrapper .widget .w-header h3 { font-size: 16px; }
.ga-wrapper .widget .w-header .icon { color: #fff; cursor: pointer; font-size: 40px; line-height: 1; position: absolute; right: 0; text-align: center; text-shadow: 0 1px 0 rgba(0,0,0,.25); top: 0; width: 40px; }
.ga-wrapper .widget .w-header .icon:hover {
    background-color: #3d638a;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}
.ga-wrapper .collapsed .w-header .icon:hover {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.ga-wrapper .collapsed .w-header {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ga-wrapper .widget .w-content {
    background-color: #fff; border-bottom: #b0b0b0 solid 1px; border-right: #b0b0b0 solid 1px; padding: 20px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.ui-autocomplete-loading {
    background: white url('../../../plugins/jquery_ui/css/images/ui-anim_basic_16x16.gif') right center no-repeat;
}