@font-face {
  font-family: 'sourcesanspro';
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg#sourcesanspro-regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sourcesanspro-semibold';
  src: url("../fonts/sourcesanspro-semibold.eot");
  src: url("../fonts/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold.woff") format("woff"), url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold.svg#sourcesanspro-semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }
@keyframes color {
  100%, 0% {
    stroke: #000; }
  40% {
    stroke: #000; }
  66% {
    stroke: #000; }
  80%, 90% {
    stroke: #000; } }
body {
  margin: 0;
  color: #121212; }

button, a {
  text-decoration: none;
  box-shadow: none;
  outline: 0; }
  button:active, button:focus, button:hover, a:active, a:focus, a:hover {
    text-decoration: none;
    box-shadow: none;
    outline: 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

input:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important; }

h1, h2, h3, h4, h5, h6, a, p, li, span, b, i, strong, label, input, th, td, select {
  font-family: "sourcesanspro", sans-serif;
  margin: 0; }

a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1; }

.text-bold {
  font-weight: 500 !important; }

.text-center {
  text-align: center !important; }

.no-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.truncate-long-word {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.prevent-default {
  pointer-events: none; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.remove-scrollbar::-webkit-scrollbar {
  display: none; }
@-moz-document url-prefix() {
  .remove-scrollbar {
    padding-right: 17px;
    width: 100%; } }
.text-justify {
  text-align: justify; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase; }

.text-underline {
  text-decoration: underline; }

.clbt:before, .container:before, .row:before, .clbt:after, .container:after, .row:after {
  display: table;
  content: ''; }

.clbt:after, .container:after, .row:after {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fntBt {
  font-family: "sourcesanspro", sans-serif;
  font-weight: 700;
  font-style: normal; }

.fntNm {
  font-family: "sourcesanspro", sans-serif;
  font-weight: 500;
  font-style: normal; }

em, i {
  font-family: "sourcesanspro", sans-serif;
  font-weight: 500;
  font-style: italic; }

b, strong {
  font-family: "sourcesanspro", sans-serif;
  font-weight: 700;
  font-style: normal; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mt30 {
  margin-top: 30px; }

.block {
  display: block;
  width: 100%; }

.white {
  color: #ffffff; }

.nBA:before, .nBA:after {
  content: normal !important; }

.hide {
  display: none !important; }

.clearAfter:after {
  clear: both;
  content: "";
  display: block; }

.title-lg {
  font-family: "sourcesanspro", sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-bottom: 20px;
  font-weight: normal; }
  @media screen and (max-width: 640px) {
    .title-lg {
      font-size: 40px; } }

.title-md {
  font-family: "sourcesanspro", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-bottom: 10px;
  font-weight: normal; }
  @media screen and (max-width: 1020px) {
    .title-md {
      font-size: 30px; } }
  @media screen and (max-width: 640px) {
    .title-md {
      font-size: 22px; } }

.title-sm {
  font-family: "sourcesanspro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-bottom: 10px;
  font-weight: normal; }
  @media screen and (max-width: 1020px) {
    .title-sm {
      font-size: 25px; } }
  @media screen and (max-width: 640px) {
    .title-sm {
      font-size: 20px; } }

.title-xs {
  font-family: "sourcesanspro", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: normal;
  padding: 5px 0;
  margin-bottom: 0;
  font-weight: normal; }
  @media screen and (max-width: 1020px) {
    .title-xs {
      font-size: 18px; } }

.title-xs-inner {
  font-family: "sourcesanspro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 10px;
  margin-bottom: 0;
  font-weight: normal;
  -webkit-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -moz-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -ms-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94); }

.col-5, .col-2, .col-3, .col-4, .col-9, .col-6, .col-7, .col-8, .col-1, .col-10, .col-11, .col-12 {
  min-height: 1px;
  margin-bottom: 4px; }
  @media screen and (min-width: 640px) {
    .col-5, .col-2, .col-3, .col-4, .col-9, .col-6, .col-7, .col-8, .col-1, .col-10, .col-11, .col-12 {
      width: 41.6665%;
      float: left;
      margin-bottom: 0;
      padding: 0 2px; } }

@media screen and (min-width: 640px) {
  .col-2 {
    width: 16.6666%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-3 {
    width: 24.9999%;
    float: left; } }
@media screen and (max-width: 639px) {
  .col-3 {
    width: 49.9998%;
    padding: 0 2px;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-4 {
    width: 33.3332%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-9 {
    width: 74.9997%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-6 {
    width: 49.9998%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-7 {
    width: 58.3331%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-8 {
    width: 66.6664%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-1 {
    width: 8.3333%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-10 {
    width: 83.333%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-11 {
    width: 91.6663%;
    float: left; } }

@media screen and (min-width: 640px) {
  .col-12 {
    width: 99.9996%;
    float: left; } }

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 10px; }

.row {
  margin-right: -4px;
  margin-left: -4px; }

.content-middle {
  display: inline-block;
  vertical-align: middle; }

.text-initial {
  text-align: initial; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%; }

*, :after, :before {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px; }

.blue {
  background: #238344; }

.green {
  background: #0d4e8c; }

.light-blue {
  background: #1f81bf; }

.cl-red {
  color: #e8404c; }

.warning {
  color: #f0ad4e; }

label {
  line-height: 34px; }

/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px; }

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0; }

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee; } }
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

/*
 * Main content
 */
.main {
  padding: 20px; }

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px; } }
.main .page-header {
  margin-top: 0; }

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center; }

.placeholders h4 {
  margin-bottom: 0; }

.placeholder {
  margin-bottom: 20px; }

.placeholder img {
  display: inline-block;
  border-radius: 50%; }

label {
  margin-bottom: 5px; }

.ui-grid-footer-info {
  background: #f3f3f3;
  border-top: 1px solid #d4d4d4; }
  .ui-grid-footer-info span.ng-binding {
    line-height: 30px;
    padding-left: 10px; }

.grid {
  height: 80vh; }

.grid-history {
  height: 20vh; }

.tab-content {
  padding: 20px 0; }

.switch {
  position: relative;
  display: inline-block;
  width: calc(60px * 0.75);
  height: calc(34px * 0.75); }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: calc(26px * 0.75);
  width: calc(26px * 0.75);
  left: 5px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(15px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
